<h1>Créer une nouvelle liste</h1>

<%= form_with model: @list, local: true do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "erreur") %> interdit la création de cette liste :</h2>
      <ul>
        <% @list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Créer la liste" %>
  </div>
<% end %>

<%= link_to 'Retour à toutes les listes', lists_path %>
