<h1><%= @list.name %></h1>

<p>Cette page affiche la liste nommée <%= @list.name %>.</p>

<h2>Signets dans cette liste</h2>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong>Film :</strong> <%= bookmark.movie.title %><br>
      <strong>Commentaire :</strong> <%= bookmark.comment %>
      <%= link_to "Supprimer", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

<%= link_to 'Ajouter un signet', new_list_bookmark_path(@list) %><br>
<%= link_to 'Retour à toutes les listes', lists_path %>
